Thumbs.db
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.sln.docstates
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
*.vssscc
$tf*/
*.zip
*.rar
*.psd
~$*

upload*/
upfiles*/
obj
bin
bin
/*.suo
UnitTest

/.vs
/.idea
/web/wwwroot/static/temp
/web/wwwroot/logs
/web/wwwroot/temp
/web/wwwroot/logs/api
/web/wwwroot/temp
/bat
/bats/pub
/bats/temp_zip
